/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Mar-2014, 09:34:39
    Author     : vidar
*/

top_bar{
    height:40px;
    background-color: red;
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

buttons{
    display:block;
    text-align: center;
    float
}
