


/* 
    Created on : 31-Mar-2014, 09:59:18
    Author     : vidar
*/
html{

}

body{
    margin:0;
    padding:0;
    height:100%; 
   
}

div.wrapper{
    min-height:100%;
    position:relative;
    
    
}
div.topbar{
    z-index:1;
    height:50px;
    background-color: gray;
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    min-width: 800px;
}

div.buttons{
    z-index:2;
    opacity:0.7;
    position:relative;
    display:inline-block;
    text-align: center;
    float:left;
    margin-right:auto;
    margin-top: 11px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid lightgray;
    background-color: #b0afaf;
    
    margin-left: 20px;
    width: 90px;
    max-width: 200px;
    height:auto;
}

div.buttons:hover{
    opacity:1;
}

a{
    opacity:1;
    text-decoration: none;
}





div.content{

    /*position: relative;*/   
    margin-left: auto;
    margin-right: auto;
    width:80%;
    /*height: auto;*/
    min-width: 820px;
    border:2px solid gray;
    margin-top: 100px;
 
    height:100%;
    
    
    
   
    

}

div.left_content{
    /*z-index: 0;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border:2px solid lightgray;
    
    display: inline-block;
    width:65%;
    /*min-height: 975px;*/
    min-width: 98px;
    /*position: relative;*/

}

div.footer{
    height:40px;
    width:100%;
    background-color: gray;
    text-align: center;
    
    position:absolute;
    left:0;
    
    bottom:0;
    
}



div.right_content{
    z-index: 0;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border:2px solid lightgray;
    display: inline-block;
    width:30.2%;
    min-height: 975px;
    min-width: 75px;
    float:right;
    
}

div.feedreview{
    margin-top: 2%;
    margin-bottom: 55px;
}

/*img.smallpic{
    display:block;
    height:auto;
    width:50%;
}*/

div.feedtext{
    margin-left: 10px;
    margin-right: 10px;
}

img.logo{
    float:left;
    height: 40px;
    margin-top: 5px;
    margin-left: 10%;

}

div.buttonboxes{
    margin-left: auto;
    margin-right: 10%;;
    text-align: center;
    min-width: 920px;
}

div.review{
    margin-bottom: 35px;
    margin-top: 2%;
}

div.reviewtext{
    margin-left: 2.5%;
    margin-right: 2.5%;

}

img.bigpic{
    width:90%;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

img.smallpic{
    float:right;
    display:inline-block;
    
    width: 40%;
    margin-right: 2.5%;
    margin-left:10px;
}

div.readmore{
    float:right;
    position:relative;
    font-weight: bold;
    background-color: lightblue;
    opacity:0.8;
    margin-bottom: 10px;
}

div.readmore:hover{
    opacity: 1;
}

div.copyright{
    margin-top: 10px;
}
#revbanner img { display: block;
                 width: 100%;
                 height: auto;
                 
}
.leftimg img { float: left;
               width: 40%;
               height: auto;
               margin:10px;
}
.rightimg img { float: right;
            width: 40%;
            height: auto;
            margin: 10px;
}
#video { 
         text-align: center;
         margin-top: 10px;
         margin-bottom: 150px;
         width:80%;
         height:315px;
         margin-right: auto;
         margin-left: auto;
         position:relative;
}
#summary { 
  
           background-color: lightblue;
           margin-top: 0px;
           margin-bottom: 0px;
           margin-right: 10px;
           margin-left: 10px;
           padding-top: 5px;
           padding-bottom: 10px;
           
}
#tag { font-style: italic;
       color: #737373;
       font-size: 80%;
}

p{
    margin:10px;
}

h3{
    margin-left: 10px;
}

h2{
    text-align: center;
}

div.headline{
    font-size:30px;
    margin-left: 10px;
}

iframe{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

div.dice{
    display: inline-block;
    float: left;
    margin-left: 0px;
    padding-left: 35px;
    width:150px; 
    height:150px;
   
}

#summary p{
    display:inline-block;
    background-color: lightblue;
}


